# Sages Python Bootcamp zjazd 1 dzieÅ„ 1 i 2

## 3.1.3.b. Time

1. Oblicz ile sekund to piÄ™Ä‡ minut
1. Oblicz ile sekund to jedna godzina
1. Oblicz ile sekund to dzieÅ„ pracy (8 godzin)
1. Oblicz ile sekund to miesiÄ…c pracy (22 dni po 8 godzin)
1. Oblicz ile minut to tydzieÅ„ pracy (40 godzin)

In [23]:
s = 1
m = 60 * s
h = 60 * m

work_day = 8 * h
work_month = 22 * work_day
work_week = 5 * work_day

print(f'5 min to {5*m} s')
print(f'1 h to {h} s')
print(f'1 wd to {work_day} s')
print(f'1 week to {work_week / m} m')

5 min to 300 s
1 h to 3600 s
1 wd to 28800 s
1 week to 2400.0 m

## 3.1.3.c. Download Time

1. MajÄ…c Å‚Ä…cze internetowe do 100 Mb/s
1. Ile zajmie Å›ciÄ…gniÄ™cie pliku 100 MB?

In [25]:
BIT = 1
KILOBIT = 1024 * BIT
MEGABIT = 1024 * KILOBIT

BYTE = 8 * BIT
KILOBYTE = 1024 * BYTE
MEGABYTE = 1024 * KILOBYTE

speed = 100 * MEGABIT
size = 100 * MEGABYTE
time = size / speed

print(time)

8.0

## 3.1.3.d. Temperature

1. Jeden Kelwin to jeden stopieÅ„ Celsiusza (1K = 1Â°C)
1. Zero Kelwina (bezwzglÄ™dne) to -273.15 stopni Celsiusza
1. W zadaniu przyjmij rÃ³wne -273Â°C (0K = -273Â°C)
1. Ile KelwinÃ³w, a ile stopni Celsiusza wynoszÄ… Å›rednie temperatury powierzchni:

    * KsiÄ™Å¼yca w dzieÅ„: 180 Â°C
    * KsiÄ™Å¼yca w nocy: 93 K
    * Mars Å›rednia: âˆ’63 Â°C
    * Mars najwyÅ¼sza: 20 Â°C
    * Mars najniÅ¼sza: 120 K

In [3]:
OFFSET = 273

moon_day_celsius = 180
moon_day_kelvin = OFFSET + moon_day_celsius
moon_night_kelvin = 93
moon_night_celsius = moon_night_kelvin - OFFSET
mars_avg_celsius = -63
mars_avg_kelvin = OFFSET + mars_avg_celsius
mars_high_celsius = 20
mars_high_kelvin = OFFSET + mars_high_celsius
mars_low_kelvin = 120
mars_low_celsius = mars_low_kelvin - OFFSET

print(f'Moon day: {moon_day_kelvin}K, {moon_day_celsius}Â°C')        # Moon day: 453K, 180Â°C
print(f'Moon night: {moon_night_kelvin}K, {moon_night_celsius}Â°C')  # Moon night: 93K, -180Â°C
print(f'Mars avg: {mars_avg_kelvin}K, {mars_avg_celsius}Â°C')        # Mars avg: 210K, -63Â°C
print(f'Mars high: {mars_high_kelvin}K, {mars_high_celsius}Â°C')     # Mars high: 293K, 20Â°C
print(f'Mars low: {mars_low_kelvin}K, {mars_low_celsius}Â°C')        # Moon low: 120K, -153Â°C

## 3.2.4.b. Distance Conversion

1. Zdefiniuj zmiennÄ… dla przechowywania wartoÅ›ci 1337 metrÃ³w
1. Wypisz wartoÅ›Ä‡ w rÃ³Å¼nych jednostkach
1. UÅ¼yj kodu wyjÅ›ciowego (patrz sekcja input) jako szablonu
1. Przekonwertuj dane do typÃ³w podanych w komentarzu po prawej stronie
1. Zamiast ``...`` podstaw wyliczone i przekonwertowane wartoÅ›ci

In [34]:
m = 1337
km = m / 1000
mi = m / 1608
nm = m / 1852

print(f'Meters: {m}')
print(f'Kilometers: {km}')
print(f'Miles: {mi:.2}')
print(f'Nautical Miles: {nm:.2}')
print(f'All: {m}, {int(km)}, {mi:.1}, {nm:.1}')

Meters: 1337
Kilometers: 1.337
Miles: 0.83
Nautical Miles: 0.72
All: 1337, 1, 0.8, 0.7

## 3.5.7.b. Emoticon Print

1. PoproÅ› uÅ¼ytkownika o wprowadzenie imienia
1. Wypisz ``hello NAME EMOTICON``, gdzie:

    * NAME to imiÄ™ wczytane od uÅ¼ytkownika
    * EMOTICON to Unicode Codepoint "U+1F642"

1. WyÅ›wietl dÅ‚ugoÅ›Ä‡ imienia, wczytanego od uÅ¼ytkownika

In [35]:
name = input('What is your name?: ')
length = len(name)

print(f'Hello {name} \U0001F642')
print(length)

What is your name?: Jan Twardowski
Hello Jan Twardowski ðŸ™‚
14

## 3.6.6.b. String Cleaning

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. Oczekiwana wartoÅ›Ä‡ ``Jana III Sobieskiego``
1. Wykorzystaj tylko metody ``str`` do oczyszczenia kaÅ¼dej zmiennej
1. PorÃ³wnaj wyniki z danymi wyjÅ›ciowymi (patrz sekcja output)
1. PrzeprowadÅº dyskusjÄ™ jak zrobiÄ‡ rozwiÄ…zanie generyczne pasujÄ…ce do wszystkich przypadkÃ³w
1. Implementacja takiej generycznej funkcji bÄ™dzie w rozdziale :ref:`Cleaning text input`

In [36]:
a = 'ul Jana III SobIESkiego'
b = '\tul. Jana trzeciego Sobieskiego'
c = 'ulicaJana III Sobieskiego'
d = 'UL. JANA 3 \nSOBIESKIEGO'
e = 'UL. jana III SOBiesKIEGO'
f = 'ULICA JANA III SOBIESKIEGO  '
g = 'ULICA. JANA III SOBIeskieGO'
h = ' Jana 3 Sobieskiego  '
i = 'Jana III\tSobieskiego '

a = a.upper().replace('UL', '').strip().title().replace('Iii', 'III')
b = b.upper().replace('UL.', '').strip().title().replace('Trzeciego', 'III')
c = c.upper().replace('ULICA', '').strip().title().replace('Iii', 'III')
d = d.upper().replace('UL.', '').strip().title().replace('3', 'III').replace('\n', '')
e = e.upper().replace('UL.', '').strip().title().replace('Iii', 'III')
f = f.upper().replace('ULICA', '').strip().title().replace('Iii', 'III')
g = g.upper().replace('ULICA.', '').strip().title().replace('Iii', 'III')
h = h.upper().replace('3', 'III').strip().title().replace('Iii', 'III')
i = i.upper().replace('\t', ' ').strip().title().replace('Iii', 'III')

expected = 'Jana III Sobieskiego'

print('a:', a == expected, a, sep='\t')
print('b:', b == expected, b, sep='\t')
print('c:', c == expected, c, sep='\t')
print('d:', d == expected, d, sep='\t')
print('e:', e == expected, e, sep='\t')
print('f:', f == expected, f, sep='\t')
print('g:', g == expected, g, sep='\t')
print('h:', h == expected, h, sep='\t')
print('i:', i == expected, i, sep='\t')

a:	True	Jana III Sobieskiego
b:	True	Jana III Sobieskiego
c:	True	Jana III Sobieskiego
d:	True	Jana III Sobieskiego
e:	True	Jana III Sobieskiego
f:	True	Jana III Sobieskiego
g:	True	Jana III Sobieskiego
h:	True	Jana III Sobieskiego
i:	True	Jana III Sobieskiego

## 4.1.9.a. Create

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. StwÃ³rz ``list`` reprezentujÄ…cy kaÅ¼dy wiersz

| Sepal length |  Sepal width |  Petal length |  Petal width |  Species    | 
|--------------|--------------|---------------|--------------|-------------| 
| 5.8          |  2.7         |  5.1          |  1.9         |  virginica  | 
| 5.1          |  3.5         |  1.4          |  0.2         |  setosa     | 
| 5.7          |  2.8         |  4.1          |  1.3         |  versicolor |

In [42]:
a = [5.8, 2.7, 5.1, 1.9, 'virginica']
b = [5.1, 3.5, 1.4, 0.2, 'setosa']
c = [5.7, 2.8, 4.1, 1.3, 'versicolor']

print(a)
print(b)
print(c)

[5.8, 2.7, 5.1, 1.9, 'virginica']
[5.1, 3.5, 1.4, 0.2, 'setosa']
[5.7, 2.8, 4.1, 1.3, 'versicolor']

## 4.2.8.a. Create

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. StwÃ³rz ``tuple`` z nazwami gatunkÃ³w
1. Wylicz Å›redniÄ… arytmetycznÄ… dla kaÅ¼dej z kolumn numerycznych
1. Do przekonwertowania tabelki wykorzystaj zaznaczanie wielu linijek za pomocÄ… klawisza ``alt`` w Twoim IDE

| Sepal length |  Sepal width |  Petal length |  Petal width |  Species    | 
|--------------|--------------|---------------|--------------|-------------| 
| 5.8          |  2.7         |  5.1          |  1.9         |  virginica  | 
| 5.1          |  3.5         |  1.4          |  0.2         |  setosa     | 
| 5.7          |  2.8         |  4.1          |  1.3         |  versicolor | 
| 6.3          |  2.9         |  5.6          |  1.8         |  virginica  | 
| 6.4          |  3.2         |  4.5          |  1.5         |  versicolor | 
| 4.7          |  3.2         |  1.3          |  0.2         |  setosa     | 
| 7.0          |  3.2         |  4.7          |  1.4         |  versicolor | 
| 7.6          |  3.0         |  6.6          |  2.1         |  virginica  | 
| 4.9          |  3.0         |  1.4          |  0.2         |  setosa     | 
| 4.9          |  2.5         |  4.5          |  1.7         |  virginica  | 
| 7.1          |  3.0         |  5.9          |  2.1         |  virginica  |

In [8]:
sepal_length = (5.8, 5.1, 5.7, 6.3, 6.4, 4.7, 7.0, 7.6, 4.9, 4.9, 7.1)
sepal_width = (2.7, 3.5, 2.8, 2.9, 3.2, 3.2, 3.2, 3.0, 3.0, 2.5, 3.0)
petal_length = (5.1, 1.4, 4.1, 5.6, 4.5, 1.3, 4.7, 6.6, 1.4, 4.5, 5.9)
petal_width = (1.9, 0.2, 1.3, 1.8, 1.5, 0.2, 1.4, 2.1, 0.2, 1.7, 2.1)
species = ('virginica', 'setosa', 'versicolor', 'virginica', 'versicolor', 'setosa', 'versicolor', 'virginica', 'setosa', 'virginica', 'virginica')

sepal_length_mean = sum(sepal_length) / len(sepal_length)
sepal_width_mean = sum(sepal_width) / len(sepal_width)
petal_length_mean = sum(petal_length) / len(petal_length)
petal_width_mean = sum(petal_width) / len(petal_width)

print(f'Sepal length mean: {sepal_length_mean}')
print(f'Sepal width mean: {sepal_width_mean}')
print(f'Petal length mean: {petal_length_mean}')
print(f'Petal width mean: {petal_width_mean}')

('7.1', '3.0', '5.9', '2.1', 'virginica')

## 4.3.10.a. Create

1. StwÃ³rz tuplÄ™ ``a`` z cyframi: 0, 1, 2, 3
1. StwÃ³rz listÄ™ ``b`` z cyframi: 2, 3, 4, 5
1. StwÃ³rz zbiÃ³r ``c`` z co drugim elementem ``a`` i ``b``
1. Wypisz ``c``

## 4.5.3.a. Select

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. Zapisz nagÅ‚Ã³wek (pierwsza linia) do zmiennej ``header: tuple``
1. StwÃ³rz ``OUTPUT: list``
1. Przekonwertuj do ``list`` dane z wierszy o indeksach 2, 6, 9 i dodaj do ``OUTPUT``
1. Przekonwertuj do ``tuple`` dane z wierszy o indeksach 12, 15, 16 i dodaj do ``OUTPUT``
1. Dodaj pusty ``set``, ``list`` oraz ``tuple`` do ``OUTPUT``
1. UÅ¼yj tylko indeksÃ³w
1. Nie uÅ¼ywaj ``for``, ``while`` lub ``slice()``

In [45]:
my_set = {5.8, 2.7, 5.1, 1.9, 'virginica'}

my_set.add(5.1)
my_set.add(3.5)
my_set.add(1.4)
my_set.add(0.2)
my_set.add('setosa')

my_set.update({5.7, 2.8, 4.1, 1.3, 'versicolor'})
my_set.update((6.3, 2.9, 5.6, 1.8, 'virginica'))
my_set.update([6.4, 3.2, 4.5, 1.5, 'versicolor'])

print(my_set)

{0.2, 1.9, 2.7, 3.5, 1.4, 5.8, 5.1, 1.3, 2.8, 4.1, 5.7, 6.3, 5.6, 6.4, 1.5, 4.5, 'versicolor', 'virginica', 3.2, 1.8, 2.9, 'setosa'}

## 4.6.11.b. Split train/test

1. For input data (see below)
1. Write header (first line) to ``header`` variable
1. Write data without header to ``data`` variable
1. Calculate pivot point: number records in ``data`` multiplied by PERCENT (division ratio below)
1. Divide ``data`` into two lists:

    * ``train``: 60% - training data
    * ``test``: 40% - testing data

1. From ``data`` write training data from start to pivot
1. From ``data`` write test data from pivot to end

| Row |  Sepal length |  Sepal width |  Petal length |  Petal width |  Species    | 
|-----|---------------|--------------|---------------|--------------|-------------| 
| 1   |  5.8          |  2.7         |  5.1          |  1.9         |  virginica  | 
| 2   |  5.1          |  3.5         |  1.4          |  0.2         |  setosa     | 
| 3   |  5.7          |  2.8         |  4.1          |  1.3         |  versicolor | 
| 4   |  6.3          |  2.9         |  5.6          |  1.8         |  virginica  | 
| 5   |  6.4          |  3.2         |  4.5          |  1.5         |  versicolor |

In [12]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

header = DATA[0]

OUTPUT = [
    list(DATA[2]),
    list(DATA[6]),
    list(DATA[9]),
    tuple(DATA[12]),
    tuple(DATA[15]),
    tuple(DATA[16]),
    set(),
]

In [13]:
header

('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species')

In [14]:
OUTPUT

[[5.1, 3.5, 1.4, 0.2, 'setosa'],
 [4.7, 3.2, 1.3, 0.2, 'setosa'],
 [4.9, 3.0, 1.4, 0.2, 'setosa'],
 (4.6, 3.4, 1.4, 0.3, 'setosa'),
 (5.0, 3.6, 1.4, 0.3, 'setosa'),
 (5.5, 2.3, 4.0, 1.3, 'versicolor'),
 set()]

## 4.6.11.a. Simple collections

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. StwÃ³rz ``my_set: set`` reprezentujÄ…cy pierwszy wiersz
1. WartoÅ›ci z drugiego wiersza dodawaj do ``my_set`` za pomocÄ… ``.add()``
1. Na podstawie trzeciego wiersza stwÃ³rz ``set`` i dodaj go za pomocÄ… ``.update()``
1. Na podstawie czwartego wiersza stwÃ³rz ``tuple`` i dodaj go za pomocÄ… ``.update()``
1. Na podstawie piÄ…tego wiersza stwÃ³rz ``list`` i dodaj go za pomocÄ… ``.update()``

In [15]:
a = (0, 1, 2, 3)
b = [2, 3, 4, 5]

c = set()
c.update(a[::2], b[::2])

print(c)

{0, 2, 4}

## 4.6.11.b. Split train/test

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. Zapisz nagÅ‚Ã³wek (pierwsza linia) do zmiennej ``header``
1. Zapisz dane bez nagÅ‚Ã³wka do zmiennej ``data``
1. Wylicz punkt podziaÅ‚u: iloÅ›Ä‡ rekordÃ³w w ``data`` razy PROCENT (proporcja podziaÅ‚u poniÅ¼ej)
1. Podziel ``data`` na dwie listy:
  * ``train``: 60% - dane do uczenia
  * ``test``: 40% - dane do testÃ³w 
1. Z ``data`` zapisz do uczenia rekordy od poczÄ…tku do punktu podziaÅ‚u
1. Z ``data`` zapisz do testÃ³w rekordy od punktu podziaÅ‚u do koÅ„ca

In [16]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

RATIO = 0.6

header = DATA[0]
data = DATA[1:]

punkt_podzialu = int(RATIO * len(data))
train = data[:punkt_podzialu]
test = data[punkt_podzialu:]

train, test

([(5.8, 2.7, 5.1, 1.9, 'virginica'),
  (5.1, 3.5, 1.4, 0.2, 'setosa'),
  (5.7, 2.8, 4.1, 1.3, 'versicolor'),
  (6.3, 2.9, 5.6, 1.8, 'virginica'),
  (6.4, 3.2, 4.5, 1.5, 'versicolor'),
  (4.7, 3.2, 1.3, 0.2, 'setosa'),
  (7.0, 3.2, 4.7, 1.4, 'versicolor'),
  (7.6, 3.0, 6.6, 2.1, 'virginica'),
  (4.9, 3.0, 1.4, 0.2, 'setosa'),
  (4.9, 2.5, 4.5, 1.7, 'virginica'),
  (7.1, 3.0, 5.9, 2.1, 'virginica'),
  (4.6, 3.4, 1.4, 0.3, 'setosa')],
 [(5.4, 3.9, 1.7, 0.4, 'setosa'),
  (5.7, 2.8, 4.5, 1.3, 'versicolor'),
  (5.0, 3.6, 1.4, 0.3, 'setosa'),
  (5.5, 2.3, 4.0, 1.3, 'versicolor'),
  (6.5, 3.0, 5.8, 2.2, 'virginica'),
  (6.5, 2.8, 4.6, 1.5, 'versicolor'),
  (6.3, 3.3, 6.0, 2.5, 'virginica'),
  (6.9, 3.1, 4.9, 1.5, 'versicolor'),
  (4.6, 3.1, 1.5, 0.2, 'setosa')])

## 4.7.6.a. Unpacking from sequence

1. Podziel dane wejÅ›ciowe (patrz sekcja input) po biaÅ‚ych znakach
1. Odseparuj adres ip i nazw hostÃ³w
1. Skorzystaj z notacji z gwiazdkÄ… ``*``

In [46]:
DATA = '10.13.37.1      nasa.gov esa.int roscosmos.ru'

ip, *hosts = DATA.split()

print(ip)
print(hosts)

10.13.37.1
['nasa.gov', 'esa.int', 'roscosmos.ru']

## 4.7.6.b. Unpacking from nested sequence

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. Oddziel nagÅ‚Ã³wek i rekordy
1. Skorzystaj z konstrukcji z gwiazdkÄ… ``*``

In [48]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

header, *data = DATA

print(header)
data

('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species')

[(5.8, 2.7, 5.1, 1.9, 'virginica'),
 (5.1, 3.5, 1.4, 0.2, 'setosa'),
 (5.7, 2.8, 4.1, 1.3, 'versicolor'),
 (6.3, 2.9, 5.6, 1.8, 'virginica'),
 (6.4, 3.2, 4.5, 1.5, 'versicolor'),
 (4.7, 3.2, 1.3, 0.2, 'setosa'),
 (7.0, 3.2, 4.7, 1.4, 'versicolor'),
 (7.6, 3.0, 6.6, 2.1, 'virginica'),
 (4.9, 3.0, 1.4, 0.2, 'setosa'),
 (4.9, 2.5, 4.5, 1.7, 'virginica'),
 (7.1, 3.0, 5.9, 2.1, 'virginica'),
 (4.6, 3.4, 1.4, 0.3, 'setosa'),
 (5.4, 3.9, 1.7, 0.4, 'setosa'),
 (5.7, 2.8, 4.5, 1.3, 'versicolor'),
 (5.0, 3.6, 1.4, 0.3, 'setosa'),
 (5.5, 2.3, 4.0, 1.3, 'versicolor'),
 (6.5, 3.0, 5.8, 2.2, 'virginica'),
 (6.5, 2.8, 4.6, 1.5, 'versicolor'),
 (6.3, 3.3, 6.0, 2.5, 'virginica'),
 (6.9, 3.1, 4.9, 1.5, 'versicolor'),
 (4.6, 3.1, 1.5, 0.2, 'setosa')]

## 5.1.11.a. Aviation Language

1. StwÃ³rz tÅ‚umacza alfabetu pilotÃ³w
1. Pojedynczym literom przyporzÄ…dkuj ich fonetyczne odpowiedniki
1. Do przekonwertowania tabelki wykorzystaj zaznaczanie wielu linijek za pomocÄ… klawisza ``alt`` w Twoim IDE (jeÅ¼eli skrÃ³t klawiszowy nie dziaÅ‚a w Twoim IDE, uÅ¼yj tylko cztery pierwsze litery)
1. PoproÅ› uÅ¼ytkownika o wprowadzenie litery
1. UÅ¼ytkownik zawsze poda tylko jednÄ… duÅ¼Ä… literÄ™ lub cyfrÄ™
1. Wypisz fonetycznÄ… wymowÄ™ litery
1. JeÅ¼eli wpisaÅ‚ znak, ktÃ³ry nie wystÄ™puje w alfabecie, wypisz: "Pilots don't say that"
1. Nie uÅ¼ywaj ``if``, ``try`` ani ``except``

In [50]:
ALPHABET = {
    'A': 'Alfa',
    'B': 'Bravo',
    'C': 'Charlie',
    'D': 'Delta',
    'E': 'Echo',
    'F': 'Foxtrot',
    'G': 'Golf',
    'H': 'Hotel',
    'I': 'India',
    'J': 'Juliet',
    'K': 'Kilo',
    'L': 'Lima',
    'M': 'Mike',
    'N': 'November',
    'O': 'Oscar',
    'P': 'Papa',
    'Q': 'Quebec',
    'R': 'Romeo',
    'S': 'Sierra',
    'T': 'Tango',
    'U': 'Uniform',
    'V': 'Victor',
    'W': 'Whisky',
    'X': 'X-Ray',
    'Z': 'Zulu',
}

letter = input('Type letter: ')
output = ALPHABET.get(letter, "Pilots don't say that")

print(output)

Podaj literÄ™: 3
Pilots don't say that

## 6.1.2.a. Is odd number

1. Wczytaj liczbÄ™ od uÅ¼ytkownika
1. UÅ¼ytkownika poda tylko poprawne ``int``
1. Liczba jest nieparzysta, gdy dzielona modulo (``%``) przez 2 nie ma reszty
1. Wypisz czy liczba jest nieparzysta
1. Nie uÅ¼ywaj instrukcji ``if``

In [61]:
number = input('What is your number?: ')
number = float(number)

print(number % 2 == 0)

Podaj liczbÄ™: 4
False

In [63]:
imie = 'Jan'
nazwisko = 'Twardowski'

# Python 3.6 i nowsze
print(f'Witaj {imie} {nazwisko}')

# Python 3.0 i nowsze
print('Witaj {} {}'.format(imie, nazwisko))
print('Witaj {0} {1}'.format(imie, nazwisko))
print('Witaj {fname} {lname}'.format(fname=imie, lname=nazwisko))

# Python 2.X
print('Witaj %s %s' % (imie, nazwisko))


# '50' % 1  -> TypeError: not all arguments converted during string formatting
# '50 %s' % 1 -> 50 1
# 50 % 1 -> 0

Witaj Jan Twardowski
Witaj Jan Twardowski
Witaj Jan Twardowski
Witaj Jan Twardowski
Witaj Jan Twardowski

## 6.2.5.a. Conditioning on user input

1. PoproÅ› uÅ¼ytkownika o wiek
1. UÅ¼ytkownika poda tylko poprawne ``int``
1. Wypisz czy uÅ¼ytkownik jest peÅ‚noletni

In [65]:
AGE_ADULT = 18


age = input('What is your age?: ')

if int(age) >= AGE_ADULT:
    print('Adult')
else:
    print('Young')

Age?: 18
stary

## 6.3.4.a. Classification of blood pressure in adults

1. Tabela zawiera klasyfikacjÄ™ danych wejÅ›ciowych (patrz sekcja input)
1. Klasyfikacja ciÅ›nienia krwi wg. American Heart Association
1. UÅ¼ytkownik wprowadza ciÅ›nienie krwi w formacie ``XXX/YY`` lub ``XXX/YYY``, gdzie:

    - ``XXX: int`` to wartoÅ›Ä‡ ciÅ›nienia skurczowego (ang. *systolic*)
    - ``YY: int`` lub ``YYY: int`` to wartoÅ›Ä‡ ciÅ›nienia rozkurczowego (ang. *diastolic*)

1. Wypisz status wprowadzonego ciÅ›nienia krwi
1. Gdy wartoÅ›ci ciÅ›nienia skurczowego i rozkurczowego naleÅ¼Ä… do rÃ³Å¼nych kategorii, przyjmij gorszy przypadek

| Blood Pressure Category |  Systolic [mm Hg] |  Operator |  Diastolic [mm Hg] | 
|-------------------------|-------------------|-----------|--------------------| 
| Normal                  |  Less than 120    |  and      |  Less than 80      | 
| Elevated                |  120-129          |  and      |  Less than 80      | 
| Hypertension stage 1    |  130-139          |  or       |  80-89             | 
| Hypertension stage 2    |  140 or higher    |  or       |  90 or higher      | 
| Hypertensive Crisis     |  Higher than 180  |  and/or   |  Higher than 120   |

In [73]:
blood_pressure = input('What is your Blood Pressure?: ')
sys, dia = blood_pressure.strip().split('/')
sys = int(sys)
dia = int(dia)

if sys < 120 and dia < 80:
    print('Normal')
elif 120 <= sys < 129 and dia < 80:
    print('Elevated')
elif 130 <= sys <= 139 or 80 <= dia <= 89:
    print('Hypertension stage 1')
elif sys >= 140 or dia >= 90:
    print('Hypertension stage 2')
elif sys >= 180 or dia >= 120:    
    print('Hypertensive Crisis')

Podaj ciÅ›nienie [XXX/YY]: 140/120

In [ ]:
blood_pressure = input('What is your Blood Pressure?: ')
sys, dia = blood_pressure.strip().split('/')
sys = int(sys)
dia = int(dia)

if sys >= 180 or dia >= 120:    
    print('Hypertensive Crisis')
elif sys >= 140 or dia >= 90:
    print('Hypertension stage 2')
elif 130 <= sys <= 139 or 80 <= dia <= 89:
    print('Hypertension stage 1')
elif 120 <= sys < 129 and dia < 80:
    print('Elevated')
elif sys < 120 and dia < 80:
    print('Normal')

In [ ]:
blood_pressure = input('What is your Blood Pressure?: ')
sys, dia = blood_pressure.strip().split('/')
sys = int(sys)
dia = int(dia)

if sys < 120 and dia < 80:
    print('Normal')
elif 120 <= sys < 129 and dia < 80:
    print('Elevated')
elif 130 <= sys <= 139 or 80 <= dia <= 89:
    print('Hypertension stage 1')
elif sys >= 140 or dia >= 90:
    print('Hypertension stage 2')

if sys >= 180 or dia >= 120:
    print('Hypertensive Crisis')

## 7.1.4.a. Report card

1. Dla skali ocen w danych wejÅ›ciowych (patrz sekcja input)
1. Przekonwertuj skalÄ™ do ``List[float]`` uÅ¼ywajÄ…c pÄ™tli ``while``
1. PoproÅ› uÅ¼ytkownika o ocenÄ™, jednÄ… na raz
1. UÅ¼ytkownik poda tylko poprawne ``int`` lub ``float``
1. JeÅ¼eli ocena jest na nowej skali - dodaj jÄ… do dzienniczka
1. JeÅ¼eli oceny nie ma na liÅ›cie - wyÅ›wietl "Grade is not allowed" i kontynuuj wpisywanie
1. JeÅ¼eli uÅ¼ytkownik wcisnÄ…Å‚ Enter, zakoÅ„cz wprowadzanie danych
1. Na zakoÅ„czenie wyÅ›wietl wyliczonÄ… dla dzienniczka Å›redniÄ… arytmetycznÄ…
1. Przetestuj przypadek, gdy dzienniczek jest pusty

In [86]:
DATA = (2, 3, 3.5, 4, 4.5, 5)
GRADE_SCALE = []
report_card = []

i = 0

while i < len(DATA):
    grade = float(DATA[i])
    GRADE_SCALE.append(grade)
    i += 1

while True:
    grade = input('What grade you received?: ')

    if not grade:
        break

    grade = float(grade)

    if grade in GRADE_SCALE:
        report_card.append(grade)
    else:
        print('Grade is not allowed')

if report_card:
    mean = sum(report_card) / len(report_card)
    print(f'Mean: {mean}')
else:
    print('Empty report card')

[2.0, 3.0, 3.5, 4.0, 4.5, 5.0]

## 7.2.5.b. Segmentation

1. Dla danych wejÅ›ciowych (patrz sekcja input)
1. Policz wystÄ…pienia kaÅ¼dej z group
1. Zdefiniuj grupy

    * ``small`` - liczby z przedziaÅ‚u [0-2]
    * ``medium`` - liczby z przedziaÅ‚u [3-7]
    * ``large`` - liczby z przedziaÅ‚u [8-9]

1. Wypisz ``OUTPUT: Dict[str, int]``:

    * klucz - grupa
    * wartoÅ›Ä‡ - liczba wystÄ…pieÅ„

1. PorÃ³wnaj wynik z sekcjÄ… "Output" poniÅ¼ej

In [94]:
DATA = [1, 4, 6, 7, 4, 4, 4, 5, 1, 7, 0, 0, 6, 5, 0, 0, 9, 7, 0, 4, 4, 8,
         2, 4, 0, 0, 1, 9, 1, 7, 8, 8, 9, 1, 3, 5, 6, 8, 2, 8, 1, 3, 9, 5,
         4, 8, 1, 9, 6, 3]

OUTPUT = {
    'small': 0,
    'medium': 0,
    'large': 0,
}

for digit in DATA:
    if 0 <= digit <= 2:
        OUTPUT['small'] += 1
    elif 3 <= digit <= 7:
        OUTPUT['medium'] += 1
    elif 8 <= digit <= 9:
        OUTPUT['large'] += 1
        
print(OUTPUT)

{'small': 16, 'medium': 23, 'large': 11}

## 7.2.5.c. Text analysis

1. Given is text of the "Moon Speech" by John F. Kennedy's (see below)
1. Sentences are separated by period (``.``)
1. Clean each sentence from whitespaces at the beginning and at the end
1. Words are separated by spaces
1. Print the total number in whole text:

    * adverbs (words ending with "ly")
    * sentences
    * words
    * letters
    * characters (including spaces inside sentences, but without periods ``.``)
    * comas (``,``)

1. Compare results with "Output" section below

In [95]:
TEXT = 'We choose to go to the Moon. We choose to go to the Moon in this decade and do the other things. Not because they are easy, but because they are hard. Because that goal will serve to organize and measure the best of our energies and skills. Because that challenge is one that we are willing to accept. One we are unwilling to postpone. And one we intend to win'

total_sentences = 0
total_words = 0
total_chars = 0
total_letters = 0
total_commas = 0
total_adverbs = 0


for sentence in TEXT.split('.'):

    sentence = sentence.strip()
    words = sentence.split()
    characters = sentence.replace(',', '')
    letters = characters.replace(' ', '')

    total_sentences += 1
    total_words += len(words)
    total_chars += len(characters)
    total_letters += len(letters)
    total_commas += sentence.count(',')

    for word in words:
        if word.endswith('ly'):
            total_adverbs += 1


print(f'Sentences: {total_sentences}')
print(f'Words: {total_words}')
print(f'Characters: {total_chars}')
print(f'Letters: {total_letters}')
print(f'Commas: {total_commas}')
print(f'Adverbs: {total_adverbs}')

Sentences: 7
Words: 71
Characters: 347
Letters: 283
Commas: 1
Adverbs: 0