# Sages Python Bootcamp zjazd 2 dzień 2

# Functions

## Function Definition

### Zad. A. Define Function

1. Zdefiniuj funkcję ``call``
1. Wypisz ``Beetlejuice`` na ekranie
1. Wywołaj funkcję trzy razy

In [1]:
def call():
    """
    Moja dokumentacja
    """
    print('Beetlejuice')
    

call()
call()
call()

print('-' * 30)
print(call.__doc__)
print('-' * 30)
help(call)

Beetlejuice
Beetlejuice
Beetlejuice
------------------------------

    Moja dokumentacja

------------------------------
Help on function call in module __main__:

call()
    Moja dokumentacja

## Function Return

### Zad. A. Return Numbers

1. Zdefiniuj funkcję ``add`` bez parametrów
1. Funkcja powinna zwracać sumę ``42`` and ``13.37``
1. Wywołaj funkcję i przechwyć zwracaną wartość
1. Wyświetl wartość

In [2]:
def add():
    return 42 + 13.37


a = add()
print(a)

55.37

## Function Arguments

### Zad. B. Divide

1. Zdefiniuj funkcję ``divide``
1. Funkcja przyjmuje dwa argumenty
1. Funkcja zwraca wynik dzielenia jej argumentów
1. Wywołaj funkcję z ``divide(4, 2)``
1. Wywołaj funkcję z ``divide(4, 0)``
1. Wypisz zwracane wartości
1. Co zrobić w przypadku błędu?

In [3]:
def divide(a, b):
    if b == 0:
        print('Nie mozna dzielić przez 0')
    else:
        return a / b
    
    # try:
    #     return a / b
    # except ZeroDivisionError as err:
    #     print(err)


divide(4, 2)
divide(4, 0)

Nie mozna dzielić przez 0

### Zad. C. Power

1. Zdefiniuj funkcję ``power``
1. Funkcja przyjmuje dwa argumenty
1. Drugi argument jest opcjonalny
1. Funkcja zwraca wynik pierwszego argumentu do potęgi drugiego
1. Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu
1. Wypisz zwracane wartości

In [4]:
def power(a, b=None):
    if b is None:
        b = a
    return a ** b


print(power(2, 4))
print(power(2))

16
4

### Zad. D. Aviation numbers

1. Dany jest alfabet pilotów dla numerów (patrz sekcja boilerplate)
1. Dla danych wejściowych (patrz sekcja input poniżej)
1. Zdefiniuj funkcję konwertującą ``int`` lub ``float`` na formę tekstową w mowie pilotów
1. Możesz modyfikować ``CONVERSION``

In [5]:
CONVERSION = {
    0: 'zero',
    1: 'one',
    2: 'two',
    3: 'tree',
    4: 'fower',
    5: 'fife',
    6: 'six',
    7: 'seven',
    8: 'ait',
    9: 'niner',
}

CONVERSION = {str(k):v for k,v in CONVERSION.items()}
CONVERSION['-'] = 'minus'
CONVERSION['.'] = 'and'


def translate(number):
    return ' '.join(CONVERSION.get(c) for c in str(number))


print(translate(1969))
print(translate(31337))
print(translate(13.37))
print(translate(31.337))
print(translate(-1969))
print(translate(-31.337))
print(translate(-49.35))

one niner six niner
tree one tree tree seven
one tree and tree seven
tree one and tree tree seven
minus one niner six niner
minus tree one and tree tree seven
minus fower niner and tree fife

## Function Scope

### Zad. A. Wanted

1. Dla danych wejściowych (patrz sekcja input)
1. Oddziel nagłówek (pierwsza linia) od danych
1. Zdefiniuj ``wanted: Set[str]`` z 'setosa' oraz 'versicolor'
1. Iterując po danych rozdziel wiersz na ``features`` i ``label`` (ostatni)
1. Zdefiniuj funkcję sumującą ``features``, tylko gdy ``label`` jest w ``wanted``
1. Gdy ``label`` nie występuje w ``wanted`` zwróć ``0`` (zero)
1. Wypisz sumę

In [6]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
]

wanted = {'setosa', 'versicolor'}
header, *data = INPUT
total = 0

def sum_features(features, label):
    if label in wanted:
        return sum(features)
    else:
        return 0


for *features, label in data:
    total += sum_features(features, label)
    
    
print(total)

74.9

## Built-in Generators

1. Używając wyrażenia generatorowego stwórz ``output: List[int]`` z liczbami z zakresu 1 do 33 podzielnymi przez 3
1. Przefiltruj ``output`` aby zawierał tylko liczby nieparzyste
1. Podnieś wszystkie liczby w ``output`` do sześcianu
1. Oblicz średnią arytmetyczną z ``output``

In [7]:
def is_odd(x):
    if x % 2 == 1:
        return True
    else:
        return False

def cube(x):
    return x ** 3


numbers = (x for x in range(1, 34) if x % 3 == 0)
numbers = filter(is_odd, numbers)
numbers = map(cube, numbers)
numbers = list(numbers)
mean = sum(numbers) / len(numbers)

print(mean)

11502.0

### Lambda

1. Using generator expression to create ``output: List[int]`` with numbers from 1 to 33 which are divisible by 3
1. Filter ``output`` to contain only odd numbers
1. Cube all numbers in ``output``
1. Calculate arithmetic mean from ``output``
1. Użyj funkcji ``lambda``

In [8]:
numbers = (x for x in range(1, 34) if x % 3 == 0)
numbers = filter(lambda x: x%2, numbers)
numbers = map(lambda x: pow(x,3), numbers)
numbers = list(numbers)
mean = sum(numbers) / len(numbers)

print(mean)

11502.0

# Object Oriented Programming

## Classes and Instances

1. Zdefiniuj klasę ``Astronaut``
1. Zdefiniuj klasę ``SpaceAgency``
1. Stwórz instancję ``twardowski`` klasy ``Astronaut``
1. Stwórz instancję ``watney`` klasy ``Astronaut``
1. Stwórz instancję ``nasa`` klasy ``SpaceAgency``
1. Stwórz instancję ``esa`` klasy ``SpaceAgency``
1. Stwórz instancję ``polsa`` klasy ``SpaceAgency``

In [9]:
class Astronaut:
    pass


class SpaceAgency:
    pass


twardowski = Astronaut()
watney = Astronaut()

nasa = SpaceAgency()
esa = SpaceAgency()
polsa = SpaceAgency()

## Attributes

1. Zamodeluj dane za pomocą klas
1. Stwórz instancje dla każdego wpisu
1. Jak wiele klas możemy wyróżnić?
1. Jak wiele instancji możemy wyróżnić?
1. Wypisz wszystkie pola każdej z instancji

In [10]:
class Astronaut:
    pass


class SpaceAgency:
    pass


twardowski = Astronaut()
twardowski.first_name = 'Jan'
twardowski.last_name = 'Twardowski'
twardowski.date_of_birth = '1961-04-12'

watney = Astronaut()
watney.first_name = 'Mark'
watney.last_name = 'Watney'
watney.date_of_birth = '1969-07-21'

esa = SpaceAgency()
esa.short_name = 'ESA'
esa.long_name = 'European Space Agency'
esa.location = 'Europe'

nasa = SpaceAgency()
nasa.short_name = 'NASA'
nasa.long_name = 'National Aeronautics and Space Administration'
nasa.location = 'USA'

polsa = SpaceAgency()
polsa.short_name = 'POLSA'
polsa.long_name = 'Polish Space Agency'
polsa.location = 'Poland'

## Initializer Method

### Zad. A. Object Initialization

1. Stwórz jedną klasę ``Temperature``
1. Stwórz trzy instancje klasy ``Temperature``
1. Wartości mają być podawane przy inicjalizacji
1. Przy inicjalizacji instancje wypisują:

    1. Instancja ``celsius`` wyświetla temperaturę 36.6
    1. Instancja ``fahrenheit`` wyświetla temperaturę 97.88
    1. Instancja ``kelvin`` wyświetla temperaturę 309.75

1. Nie konwertuj jednostek (użyj tylko podanych numerów)
1. Nie przechowuj informacji w instancjach (tylko wypisz przy inicjalizacji)

In [11]:
class Temperature:
    def __init__(self, initial_value):
        print(initial_value)


celsius = Temperature(36.6)
fahrenheit = Temperature(97.88)
kelvin = Temperature(309.75)

36.6
97.88
309.75

### Zad. B. Data Modeling

1. Zamodeluj dane za pomocą klas
1. Stwórz instancje dla każdego wpisu
1. Twórz instancje pierwszej klasy używając argumentów pozycyjnych
1. Twórz instancje drugiej klasy używając argumentów nazwanych
1. Za pomocą ``__dict__`` wypisz wszystkie pola każdej z instancji

In [12]:
class Astronaut:
    def __init__(self, first_name, last_name, date_of_birth):
        self.first_name = first_name
        self.last_name = last_name
        self.date_of_birth = date_of_birth


class SpaceAgency:
    def __init__(self, short_name, long_name, location):
        self.short_name = short_name
        self.long_name = long_name
        self.location = location


twardowski = Astronaut('Jan', 'Twardowski', '1961-04-12')
watney = Astronaut('Mark', 'Watney', '1969-07-21')

esa = SpaceAgency(
    short_name='ESA',
    long_name='European Space Agency',
    location='Europe')

nasa = SpaceAgency(
    short_name='NASA',
    long_name='National Aeronautics and Space Administration',
    location='USA')

polsa = SpaceAgency(
    short_name='POLSA',
    long_name='Polish Space Agency',
    location='Poland')


print(twardowski.__dict__)
print(watney.__dict__)
print(esa.__dict__)
print(nasa.__dict__)
print(polsa.__dict__)

{'first_name': 'Jan', 'last_name': 'Twardowski', 'date_of_birth': '1961-04-12'}
{'first_name': 'Mark', 'last_name': 'Watney', 'date_of_birth': '1969-07-21'}
{'short_name': 'ESA', 'long_name': 'European Space Agency', 'location': 'Europe'}
{'short_name': 'NASA', 'long_name': 'National Aeronautics and Space Administration', 'location': 'USA'}
{'short_name': 'POLSA', 'long_name': 'Polish Space Agency', 'location': 'Poland'}

### Methods

1. Zdefiniuj klasę ``Iris``
1. Zdefiniuj metodę ``total()`` klasy ``Iris`` zwracającą sumę wszystkich atrybutów numerycznych obiektu:

    * "Sepal length"
    * "Sepal width"
    * "Petal length"
    * "Petal width"

1. Zdefiniuj metodę ``get_length()`` która zwraca ilość pól numerycznych (użyj: ``self.__dict__``)
1. Zdefiniuj metodę ``mean()`` klasy ``Iris`` wyliczającą średnią wszystkich atrybutów numerycznych obiektu
1. Stwórz obiekt ``setosa`` z pomiarami podawanymi przy inicjalizacji (patrz dane wejściowe)
1. Stwórz obiekt ``virginica`` z pomiarami podawanymi przy inicjalizacji (patrz dane wejściowe)
1. Wypisz nazwę gatunku oraz sumę i średnią z pomiarów dla każdej instancji

In [13]:
class Iris:
    def __init__(self, sepal_length, sepal_width, petal_length, petal_width, species):
        self.sepal_length = sepal_length
        self.sepal_width = sepal_width
        self.petal_length = petal_length
        self.petal_width = petal_width
        self.species = species

    def get_length(self):
        return len(self.__dict__)

    def total(self):
        return self.sepal_length \
               + self.sepal_width \
               + self.petal_length \
               + self.petal_width

    def average(self):
        return self.total() / self.get_length()


setosa = Iris(5.4, 3.9, 1.3, 0.4, 'setosa')
print(f'{setosa.species}')
print(f'Total: {setosa.total():.2f}')
print(f'Average: {setosa.average():.2f}')

virginica = Iris(5.8, 2.7, 5.1, 1.9, 'virginica')
print(f'{virginica.species}')
print(f'Total: {virginica.total():.2f}')
print(f'Average: {virginica.average():.2f}')

setosa
Total: 11.00
Average: 2.20
virginica
Total: 15.50
Average: 3.10

### Stringify Object

1. Zmodyfikuj kod z danych wejściowych (patrz sekcja input)
1. Przeciąż ``str`` i ``repr`` aby osiągnąć rezultat wyświetlania

In [14]:
class Crew:
    def __init__(self, members=()):
        self.members = list(members)

    def __str__(self):
        return '\n'.join(str(astro) for astro in self.members)


class Astronaut:
    def __init__(self, name, experience=()):
        self.name = name
        self.experience = list(experience)

    def __str__(self):
        if self.experience:
            return f'{self.name} veteran of {self.experience}'
        else:
            return f'{self.name}'


class Mission:
    def __init__(self, year, name):
        self.year = year
        self.name = name

    def __repr__(self):
        return f'\n\t{self.year}: {self.name}'

In [15]:
melissa = Astronaut('Melissa Lewis')
print(f'Commander: \n{melissa}\n')

Commander:
Melissa Lewis

In [16]:
mark = Astronaut('Mark Watney', experience=[
    Mission(2035, 'Ares 3'),
])
print(f'Space Pirate: \n{mark}\n')

Space Pirate:
Mark Watney veteran of [
	2035: Ares 3]

In [17]:
crew = Crew([
    Astronaut('Jan Twardowski', experience=[
        Mission(1969, 'Apollo 11'),
        Mission(2024, 'Artemis 3'),
    ]),
    Astronaut('José Jiménez'),
    Astronaut('Mark Watney', experience=[
        Mission(2035, 'Ares 3'),
    ]),
])

print(f'Crew: \n{crew}')

Crew:
Jan Twardowski veteran of [
	1969: Apollo 11,
	2024: Artemis 3]
José Jiménez
Mark Watney veteran of [
	2035: Ares 3]

# Modules

In [18]:
pip install --upgrade numpy

Requirement already up-to-date: numpy in /Users/matt/Developer/book-python/.venv-3.8.1/lib/python3.8/site-packages (1.18.1)
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install -r requirements.txt

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'
Note: you may need to restart the kernel to use updated packages.

In [20]:
import numpy as np

In [21]:
np.__version__

'1.18.1'

In [22]:
pip freeze

alabaster==0.7.12
appnope==0.1.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.1
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
idna==2.8
imagesize==1.2.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.2
latexcodec==2.0.0
MarkupSafe==1.1.1
mistune==0.8.4
mypy==0.761
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
oset==0.1.3
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pybtex==0.22.2
pybtex-docutils==0.2.2
Pygments==2.5.2
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
Send2Trash==1.5.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
Note: you may need to restart the kernel to use updated packages.

# Pickle

1. Użyj danych z sekcji input (see below)
1. Za pomocą ``pickle`` zapisz strukturę danych do pliku
1. Odtwórz strukturę danych na podstawie danych z pliku

In [23]:
import pickle


class Astronaut:
    def __init__(self, name, missions=()):
        self.name = name
        self.missions = missions

    def __repr__(self):
        return f'\n\nAstronaut(name="{self.name}", missions={self.missions})'


class Mission:
    def __init__(self, year, name):
        self.year = year
        self.name = name

    def __repr__(self):
        return f'\n\tMission(year={self.year}, name="{self.name}")'


CREW = [
    Astronaut('Jan Twardowski', missions=(
        Mission(1969, 'Apollo 18'),
        Mission(2024, 'Artemis 3'))),

    Astronaut('Mark Watney', missions=(
        Mission(2035, 'Ares 3'))),

    Astronaut('Melissa Lewis'),
]

FILE = r'/tmp/astronauts.pkl'

with open(FILE, mode='wb') as file:
    pickle.dump(CREW, file)


with open(FILE, mode='rb') as file:
    output = pickle.load(file)


print(output)

[

Astronaut(name="Jan Twardowski", missions=(
	Mission(year=1969, name="Apollo 18"),
	Mission(year=2024, name="Artemis 3"))),

Astronaut(name="Mark Watney", missions=
	Mission(year=2035, name="Ares 3")),

Astronaut(name="Melissa Lewis", missions=())]

# Date and Time

### Create ``date``, ``time`` and ``datetime`` objects

1. Stwórz obiekt ``date`` z datą Twojego urodzenia
1. Stwórz obiekt ``time`` z czasem Twojego urodzenia
1. Stwórz obiekt ``datetime`` z datą i czasem Twojego urodzenia

In [24]:
from datetime import datetime, date, time


d = date(1970, 1, 1)
t = time(0, 0)
dt = datetime(1970, 1, 1, 0, 0, 0)

### Create current ``date`` and ``datetime`` objects

1. Stwórz obiekt ``date`` z obecną datą
1. Stwórz obiekt ``datetime`` z obecną datą i czasem
1. Stwórz obiekt ``time`` z obecnym czasem
1. Data i czas ma być pobierana z systemu, nie zapisana w kodzie

In [25]:
from datetime import datetime, date


dt = datetime.now()
d = dt.date()
t = dt.time()

## Alternative
# dt = datetime.now()
# d = date.today()
# t = datetime.now().time()

### To ISO date format

1. Podaną datę przekonwertuj do obiektu ``datetime``
1. Używając parametrów formatujących wyświetl datę i czas w formacie ISO

In [26]:
from datetime import datetime


INPUT = 'April 12, 1961 6:07 local time'

format = '%B %d, %Y %H:%M local time'
dt = datetime.strptime(INPUT, format)

output = dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
print(output)

1961-04-12T06:07:00.000000Z

### Log parsing

1. Zapisz dane wejściowe do pliku ``apollo11-timeline.log``
1. Wyciągnij obiekt ``datetime``, poziom logowania oraz wiadomość z każdej linii
1. Zbierz dane do ``output: List[dict]`` (patrz sekcja output)
1. Wyświetl ``output``

In [27]:
from datetime import datetime, timezone
from pprint import pprint


# https://history.nasa.gov/SP-4029/Apollo_11i_Timeline.htm
INPUT = """
1969-07-14, 21:00:00, INFO, Terminal countdown started
1969-07-16, 13:31:53, WARNING, S-IC engine ignition (#5)
1969-07-16, 13:33:23, DEBUG, Maximum dynamic pressure (735.17 lb/ft^2)
1969-07-16, 13:34:44, WARNING, S-II ignition
1969-07-16, 13:35:17, DEBUG, Launch escape tower jettisoned
1969-07-16, 13:39:40, DEBUG, S-II center engine cutoff
1969-07-16, 16:22:13, INFO, Translunar injection
1969-07-16, 16:56:03, INFO, CSM docked with LM/S-IVB
1969-07-16, 17:21:50, INFO, Lunar orbit insertion ignition
1969-07-16, 21:43:36, INFO, Lunar orbit circularization ignition
1969-07-20, 17:44:00, INFO, CSM/LM undocked
1969-07-20, 20:05:05, WARNING, LM powered descent engine ignition
1969-07-20, 20:10:22, ERROR, LM 1202 alarm
1969-07-20, 20:14:18, ERROR, LM 1201 alarm
1969-07-20, 20:17:39, WARNING, LM lunar landing
1969-07-21, 02:39:33, DEBUG, EVA started (hatch open)
1969-07-21, 02:56:15, WARNING, 1st step taken lunar surface (CDR)
1969-07-21, 02:56:15, WARNING, That's one small step for [a] man... one giant leap for mankind
1969-07-21, 03:05:58, DEBUG, Contingency sample collection started (CDR)
1969-07-21, 03:15:16, INFO, LMP on lunar surface
1969-07-21, 05:11:13, DEBUG, EVA ended (hatch closed)
1969-07-21, 17:54:00, WARNING, LM lunar liftoff ignition (LM APS)
1969-07-21, 21:35:00, INFO, CSM/LM docked
1969-07-22, 04:55:42, WARNING, Transearth injection ignition (SPS)
1969-07-24, 16:21:12, INFO, CM/SM separation
1969-07-24, 16:35:05, WARNING, Entry
1969-07-24, 16:50:35, WARNING, Splashdown (went to apex-down)
1969-07-24, 17:29, INFO, Crew egress
"""

output = []


for line in INPUT.splitlines():
    if not line:
        continue

    date, time, level, message = line.split(', ', maxsplit=3)
    date = datetime.strptime(date, '%Y-%m-%d')

    try:
        time = datetime.strptime(time, '%H:%M:%S').time()
    except ValueError:
        time = datetime.strptime(time, '%H:%M').time()

    output.append({
        'date': datetime.combine(date, time),
        'level': level,
        'message': message,
    })

pprint(output)

[{'date': datetime.datetime(1969, 7, 14, 21, 0),
  'level': 'INFO',
  'message': 'Terminal countdown started'},
 {'date': datetime.datetime(1969, 7, 16, 13, 31, 53),
  'level': 'WARNING',
  'message': 'S-IC engine ignition (#5)'},
 {'date': datetime.datetime(1969, 7, 16, 13, 33, 23),
  'level': 'DEBUG',
  'message': 'Maximum dynamic pressure (735.17 lb/ft^2)'},
 {'date': datetime.datetime(1969, 7, 16, 13, 34, 44),
  'level': 'WARNING',
  'message': 'S-II ignition'},
 {'date': datetime.datetime(1969, 7, 16, 13, 35, 17),
  'level': 'DEBUG',
  'message': 'Launch escape tower jettisoned'},
 {'date': datetime.datetime(1969, 7, 16, 13, 39, 40),
  'level': 'DEBUG',
  'message': 'S-II center engine cutoff'},
 {'date': datetime.datetime(1969, 7, 16, 16, 22, 13),
  'level': 'INFO',
  'message': 'Translunar injection'},
 {'date': datetime.datetime(1969, 7, 16, 16, 56, 3),
  'level': 'INFO',
  'message': 'CSM docked with LM/S-IVB'},
 {'date': datetime.datetime(1969, 7, 16, 17, 21, 50),
  'level': 'INFO',
  'message': 'Lunar orbit insertion ignition'},
 {'date': datetime.datetime(1969, 7, 16, 21, 43, 36),
  'level': 'INFO',
  'message': 'Lunar orbit circularization ignition'},
 {'date': datetime.datetime(1969, 7, 20, 17, 44),
  'level': 'INFO',
  'message': 'CSM/LM undocked'},
 {'date': datetime.datetime(1969, 7, 20, 20, 5, 5),
  'level': 'WARNING',
  'message': 'LM powered descent engine ignition'},
 {'date': datetime.datetime(1969, 7, 20, 20, 10, 22),
  'level': 'ERROR',
  'message': 'LM 1202 alarm'},
 {'date': datetime.datetime(1969, 7, 20, 20, 14, 18),
  'level': 'ERROR',
  'message': 'LM 1201 alarm'},
 {'date': datetime.datetime(1969, 7, 20, 20, 17, 39),
  'level': 'WARNING',
  'message': 'LM lunar landing'},
 {'date': datetime.datetime(1969, 7, 21, 2, 39, 33),
  'level': 'DEBUG',
  'message': 'EVA started (hatch open)'},
 {'date': datetime.datetime(1969, 7, 21, 2, 56, 15),
  'level': 'WARNING',
  'message': '1st step taken lunar surface (CDR)'},
 {'date': datetime.datetime(1969, 7, 21, 2, 56, 15),
  'level': 'WARNING',
  'message': "That's one small step for [a] man... one giant leap for mankind"},
 {'date': datetime.datetime(1969, 7, 21, 3, 5, 58),
  'level': 'DEBUG',
  'message': 'Contingency sample collection started (CDR)'},
 {'date': datetime.datetime(1969, 7, 21, 3, 15, 16),
  'level': 'INFO',
  'message': 'LMP on lunar surface'},
 {'date': datetime.datetime(1969, 7, 21, 5, 11, 13),
  'level': 'DEBUG',
  'message': 'EVA ended (hatch closed)'},
 {'date': datetime.datetime(1969, 7, 21, 17, 54),
  'level': 'WARNING',
  'message': 'LM lunar liftoff ignition (LM APS)'},
 {'date': datetime.datetime(1969, 7, 21, 21, 35),
  'level': 'INFO',
  'message': 'CSM/LM docked'},
 {'date': datetime.datetime(1969, 7, 22, 4, 55, 42),
  'level': 'WARNING',
  'message': 'Transearth injection ignition (SPS)'},
 {'date': datetime.datetime(1969, 7, 24, 16, 21, 12),
  'level': 'INFO',
  'message': 'CM/SM separation'},
 {'date': datetime.datetime(1969, 7, 24, 16, 35, 5),
  'level': 'WARNING',
  'message': 'Entry'},
 {'date': datetime.datetime(1969, 7, 24, 16, 50, 35),
  'level': 'WARNING',
  'message': 'Splashdown (went to apex-down)'},
 {'date': datetime.datetime(1969, 7, 24, 17, 29),
  'level': 'INFO',
  'message': 'Crew egress'}]